<div class="container main-container">
  <div class="card">
    <div class="card-header">
      <h1>Novo Local</h1>
    </div>
    <div class="card-body">
      <%= render 'form', local: @local %>
    </div>
  </div>
</div>
