<div class="container main-container">
  <div class="card">
    <div class="card-header">
      <h1>Novo Departamento</h1>
    </div>
    <div class="card-body">
      <%= render 'form', departamento: @departamento, locais: @locais %>
    </div>
  </div>
</div>
